/*CONTENIDO PRINCIPAL*/

main{
    background-color:#e8e7ed;
}

.banner-hero{
    background-image: url('../../recursos/img-hero.jpeg');
    background-size: cover;
    padding-top: 5em;
    background-blend-mode: multiply;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.banner-hero h1{
    display: flex;
    justify-content: center;
    color: $color-oscuro;
    position:relative;
    top: 10vh;
}

@media (min-width: 900px){
.banner-hero h1{
    font-size: 3.75rem;
}
}

@media (min-width: 768px){
.banner-hero h1 {
        font-size: 2.5rem;
}
}